[Unit]
Description=Grapper downloader
After=network.target

[Service]
Type=simple
User=ondrej
WorkingDirectory=/home/ondrej
ExecStart=/home/ondrej/.venv/bin/python dl.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
